{% extends "ipl/base.html" %}

{% block content %}
<div class="box" style="background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);">
    <table class="table is-narrow" style="margin-left:10%;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);">
        <tr>
            <th>Toss Winner :</th>
            <td>{{ info.0 }}</td>
            <th>Toss Decision :</th>
            <td>{{ info.1 }}</td>
            <th>Winner :</th>
            <td>{{ info.2 }}</td>
            <th>Player of the Match :</th>
            <td>{{ info.3 }}</td>
        </tr>
    </table>
</div>
<a class="button is-dark is-small" href="{% url 'seasonsview' year %}" style="margin-left:10%;">
    <span class="icon is-small"><i class="fas fa-arrow-circle-left"></i></span>
    <span>Back</span>
</a>
<table class="table is-striped is-hoverable" style="margin-left:10%;width:80%">
    <tr>
        <th>Innings</th>
        <th>Team Batting</th>
        <th>Team Bowling</th>
        <th>over</th>
        <th>ball</th>
        <th>Batsman</th>
        <th>non striker</th>
        <th>bowler</th>
        <th>Player Dismissed</th>
        <th>Dismissal Kind</th>
        <th>Fielder</th>
    </tr>
    {% for lst in balls %}
    <tr>
        <td>{{ lst.inning }}</td>
        <td>{{ lst.battingTeam }}</td>
        <td>{{ lst.bowlingTeam }}</td>
        <td>{{ lst.over }}</td>
        <td>{{ lst.ball }}</td>
        <td>{{ lst.batsman }}</td>
        <td>{{ lst.nonStriker }}</td>
        <td>{{ lst.bowler }}</td>
        <td>{{ lst.playerDismissed }}</td>
        <td>{{ lst.DismissalKind }}</td>
        <td>{{ lst.fielder }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}