{% extends "ipl/base.html" %}
{% block content %}

{% if messages %}
<div class="container">
    <ul class="message is-danger">
    <div class="message-header is-danger">Error</div>{% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}
<h1 class="title" style="position:relative;text-align:center;margin-top:5%">Sign Up</h1>
<form method="post" class="form box" style="width:30%;margin-top:1%;margin-left:35%;">
    {%csrf_token%}
    <label class="label">First Name</label>
    <div class="field">{{form.first_name}}</div>
    <label class="label">Last Name</label>
    <div class="field">{{form.last_name}}</div>
    <label class="label">Username</label>
    <div class="field">{{form.username}}</div>
    <label class="label">Password</label>
    <div class="field">{{form.password}}</div>
    <button type="submit" class="button is-rounded is-info">Sign Up</button>
    <a href="{% url 'login'%}" class="button is-text">click here to login</a>
</form>
{% endblock content %}